<!DOCTYPE html>
<html
        lang="en"

        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="fragments/layout">

<body>
<div>
    <div>
        <div>
            <div>
                Add new School
            </div>

            <div>
                <div>
                    <table id="thereshouldbeID">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>place</th>
                            <th>place</th>
                            <th>place</th>
                            <th>place</th>
                        </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div>
        <div>
            <div>
                <form id="..." method="post" action="">
                    <div>

                        <input type="text">
                        <span><i></i></span>
                    </div>
                </form>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id tellus ac purus posuere
                    tempor vitae id dui. Duis commodo enim dolor, id tincidunt sem hendrerit a. Nulla posuere massa at
                    nulla ultricies ultricies. Etiam nisi tellus, aliquam eget dui at, placerat condimentum leo.
                    Suspendisse in pretium erat.</p>
                <hr>
                <p><i></i> add.....</p>
            </div>

        </div>
    </div>
</div>
</body>
</html>